<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200068264900-r6qsd7dfhgpam0dcdenk23ldsu6jtmm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200068264900-r6qsd7dfhgpam0dcdenk23ldsu6jtmm4</string>
	<key>API_KEY</key>
	<string>AIzaSyApr3Psdpx7fr8JiGvbIXxdzKH1Q1ocpqg</string>
	<key>GCM_SENDER_ID</key>
	<string>200068264900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxies.firebase</string>
	<key>PROJECT_ID</key>
	<string>love-lock-1abf3</string>
	<key>STORAGE_BUCKET</key>
	<string>love-lock-1abf3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200068264900:ios:5715fafa81aebeeb096a91</string>
</dict>
</plist>